* {
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}
/* main colors for the webpage can be editied through the "root" color options */

:root {
    --primary-color: #f1f8f8;
    --secondary-color: #024e76;
    --tertiary-color: #dfb1c7;
}
.hero {
    justify-content: center;
    flex-wrap: wrap;
    background-image: url(../images/lu\ summer\ hero.png);
    align-items: flex-start;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    background-position: 80%;
    color: var(--secondary-color);
    padding-bottom: 20px;
}
header h1{
    font-size: 5vw;
}
header {
    padding: 100px 45px 0px 45px;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-image: url(../images/lu\ summer\ hero.png);
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
    color: var(--secondary-color);
}

.header nav {
    margin: 10px 0px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a{
    padding: 0 30px;
    font-weight: lighter;
    font-size: 1.5vw;
    border-radius: 15px;
    color:var(--secondary-color);

}
header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--tertiary-color);
    border-radius: 15px;
    text-shadow: none;
}
.about-me {
    display: flex;
    flex-direction: row;
    align-items:stretch;
    position: static;
    text-align: center;
    padding-bottom: 20px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.my-photo{
    padding-top: 20px;
    justify-content: right;

}

.contact-me {
    display: flex;
    flex-direction: row;
    align-items:stretch;
    position: static;
    text-align: center;
   background-color: var(--primary-color);
   color: var(--secondary-color);

}
.contact-me-container{  
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items:stretch;
    position: static;
    text-align: center;
    color: var(--secondary-color);

}
.contact-me-container p a{ 
    color: var(--tertiary-color);
 }
.contact-me-container:hover {
        background: var(--primary-color);
        color: var(--tertiary-color);
        border-radius: 15px;
        text-shadow: none;

}

    
.column {
    text-align: justify;
    width: 90%;
    justify-content: space-around;
    margin:10px 10% ;
    color: var(--secondary-color);
    color: var(--secondary-color);

}


.one{
   
    border-right: 3px solid black;
    width: 30%;
    text-align: center;
    padding: 50px 10px 0px 0px;
   

}

.two {
   
    
    width: 90%;
    text-align: center;
    padding-bottom: 10px;
    margin: 10px 10px 10px 10px;

}

.main {
       
        width: 100%;
        height: 40%;
        text-align: center;
        margin:20px 5px 20px 5px;
        flex-wrap: wrap;
        align-items: stretch;
        position:relative;

}
.bottom-left {
        position:absolute;
        bottom: 8px;
        left: 16px; 
        text-align: left;
       text-decoration: underline;
       font-style: italic;
        text-size-adjust: 50%;
        background-color: var(--tertiary-color);
    
}

.mywork {
    
    display: flex;
    flex-direction: row;
    align-items:stretch;
    position: static;
    text-align: center;
    padding-bottom: 20px;
   background-color: var(--primary-color);
   color: var(--secondary-color);


}
.column-example{
    width: 100%;
}
.examplecontainer {
    display: flex;
    flex-direction: row;
    align-items:stretch;
    position: static;
    text-align: center;
    color: var(--secondary-color);
    
}
.three {

   
    width: 50%;
    height: 150px;
    margin: 10px 10px 10px 10px;
    position: relative;
    border: 5px solid var(--tertiary-color);
    
}

.flex-row {
   display:flex ;
   
}

footer {

    justify-content: space-between;
    background: var(--primary-color);
    width: 100%;
    padding:20px;
    color: var(--tertiary-color);
    text-align: center;
}
footer h3 {
    color: var(--tertiary-color);
    font-size: 30px;
    margin: 0;
}

.vinylCollector {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
   
}

.horiseon {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
   

}
.image{
    height: 100%;
    width: 100%;
}
.contact-me-info {
    width: 90%;
    text-align: center;
    padding-bottom: 10px;
    margin: 10px 10px 10px 10px;

}

/* MEDIA QUERY FOR SMALLER DESKTOPS SCREENS AND SMALLER*/
@media screen and (max-width: 980px) {
    header{
        padding-bottom: 0px;
        justify-content: center;

    }
    header nav ul li a{
        font-size: 2.5vw;
    }
    .one, .two, .mywork, .column-examples, .examplecontainer {
        display: flex;
        flex-wrap:wrap;

    }
    .one{
        padding-left: 40px;
        justify-items: center;
    }
    
    .three{
        width:100%;
        height:100%;
        justify-content: center;
    }

    .contact-me-container {

        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    
    .contact-me-info {
        font-size: 18px;
        text-align: left;
      
    }

    .one{
        border:none;
    }
    .contact-me-container:hover {
        background: var(--primary-color);
        color: var(--secondary-color);
        border-radius: 0px;
        text-shadow: none;
    }
}
.about-me-description {
        
    width: 80%;
    text-align: center;
    padding-left:40px;
    margin: 10px 10px 10px 10px;
    font-size: 20px;
}

        /*this will be applied on any screen smaller than 980px */ 




/* MEDIA QUERY FOR TABLETS AND SMALLER*/
@media screen and (max-width: 768px) {
   
    .column-examples,  .main, .two {
        flex:100%;
    }
    header h1 {
        font-size: 6vw;
        padding: 10px;
    }

    .header nav {
        margin: 10px;
    }
    header nav ul li a{
        font-size: 3vw;
       
    }
    .hero {
        font-size: 3vw;
        padding:20px;
/*this will be applied on any screen between than 768px and 575px */
     
}


/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER*/

@media screen and (max-width: 575px) {
    .contact-me-container {
        display:flex;
        display: flex;
    }
    header h1 {
        font-size: 10vw;
        padding: 10px;
    }

    .header nav {
        margin: 10px;
    }
    header nav ul li a{
        font-size: 3vw;
       
    }
    .hero {
        font-size: 4vw;
        padding:20px;
    }
         /*this will be applied on any screen smaller than 575px */
}    }
